/*!*   https://coolors.co/00072d-eaeaea-00a5e0-7c7287-b3679b   *!*/
/*:root {*/
/*    !* CSS HEX *!*/
/*    --oxford-blue: #00072dff;*/
/*    --platinum: #eaeaeaff;*/
/*    --cyan-process: #00a5e0ff;*/
/*    --rhythm: #7c7287ff;*/
/*    --pearly-purple: #b3679bff;*/
/*}*/

/*!*   https://coolors.co/ffffff-00072d-f686bd    *!*/
/*:root {*/
/*    !* CSS HEX *!*/
/*    --white: #ffffffff;*/
/*    --oxford-blue: #00072dff;*/
/*    --persian-pink: #f686bdff;*/
/*}*/

/*    https://coolors.co/ff5e5b-81adc8-ffffea-4c5b61-2d2d2a    */
/*    https://coolors.co/e072a4-adbdff-ffffea-4c5b61-2d2d2a  ? */
/*    https://coolors.co/3590f3-ffffff-f2f5f3-2d2d2a           */
:root{
    /*!* CSS HEX *!*/
    /*--ivory: ffffea;*/
    --deep-space-sparkle: #4c5b61;


    /*--lapis-lazuli: 2660A4;*/
    /*--candy-pink: DB6C79;*/
    /*--rose: #F92A82;*/
    /*--paradise-pink: EF476F;*/

    /*!* CSS HEX *!*/
    /*--dodger-blue: 3590f3;*/
    /*--pacific-blue: 08A4BD;  !*pacific-blue*!*/
    /*--white: ffffff;*/
    --cultured-rgb: 242, 245, 243;
    --cultured: #f2f5f3;
    /*--jet: 2d2d2a;*/

    /*--maximum-blue-purple: 173, 189, 255;*/
    /*https://visme.co/blog/website-color-schemes/   21         */
    /*https://coolors.co/5680e9-84ceeb-ffd2fc-5ab9ea-c1c8e4-8860d0*/
    --blue-crayola-rgb: 86, 128, 233;
    --dark-blue-crayola-rgb: 41, 60, 109;
    --sky-blue-rgb: 132, 206, 235;
    --cyan-process-rgb: 90, 185, 234;
    --periwinkle-crayola-rgb: 193, 200, 228;
    --amethyst-rgb: 136, 96, 208;
    --pink-lace-rgb: 255, 210, 252;

    --blue-crayola: rgb(var(--blue-crayola-rgb));
    --dark-blue-crayola: rgb(var(--dark-blue-crayola-rgb));
    --sky-blue: rgb(var(--sky-blue-rgb));
    --cyan-process: rgb(var(--cyan-process-rgb));
    --periwinkle-crayola: rgb(var(--periwinkle-crayola-rgb));
    --amethyst: rgb(var(--amethyst-rgb));
    --pink-lace: rgb(var(--pink-lace-rgb));
}

/*  https://coolors.co/fffffa-0d5c63-44a1a0-78cdd7-247b7b  */


/*vvvvvvvvvvvvvvvvvvvvv General Purpose react classes BELOW vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.relative{
    position: relative;
}
.react_wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    position: relative;
}

.wrapper_div{
    margin: 0;
    padding: 0;
}

.carousel_wrapper{
    padding: 0;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    overflow: hidden;
}
.carousel_wrapper_2{
    margin-top: 10%;
    z-index: 1;
    position: relative;

    /*max-height: 80%;*/
}
.carousel_wrapper .scroll_button{
    width: 100%;
    text-align: center;

    z-index: 2;
}
.carousel_wrapper .scroll_button .button{
    background-color: rgba(255, 255, 255, 0);

    box-shadow: none;

    opacity: 70%;
}
.vertCarouselItem{
    transition: all 200ms ease-in-out;
    transform: translateX(20%);

    width: 100%;

    margin-top: 2%;
}

.mouse_div{
}

.icon{
    width: 4.4em;
    height: 4.4em;

    position: relative;
}
.icon:hover{
    z-index: 500;
}
.icon.small1{
    width: 3.6em;
    height: 3.6em;
}
.icon.small2{
    width: 2.8em;
    height: 2.8em;
}
.icon.small3{
    width: 2em;
    height: 2em;
}
.icon.small4{
    width: 1.2em;
    height: 1.2em;
}
.icon.small5{
    width: 1em;
    height: 1em;
}
.icon.small6{
    width: 0.8em;
    height: 0.8em;
}
.icon.small7{
    width: 0.5em;
    height: 0.5em;
}
.icon.small8{
    width: 0.2em;
    height: 0.2em;
}
.icon > img{
    width: 100%;
    height: auto;
}

.square_fill{
    /*margin: 0;*/
    /*padding: 0;*/
    /*center both vertically and horizontally*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_area:focus{
    padding: 1%;

    border-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.collapse_div.open{
    position: relative;
    margin: 1.4em 0;
}
.collapse_div.close{
    position: relative;
    margin: 0.7em 0;
}
.collapse_div .collapse_header, .collapse_div .collapse_header *{
    margin: 0.2em 0;
}
.collapse_div .collapse_button{
    position: absolute;

    top: 5px;
    right: 5px;
    opacity: .7;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^ General Purpose react classes ABOVE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*Nav bar*/
/*TODO: make the current section highlight*/
#navBarDiv{
    width: 0;
    height: 0;
    background-color: #00000000;

    top: 0;
    position: sticky;
}
#navBarDiv2{
    position: absolute;
}
#navBar{
    margin: 50px;
    background-color: var(--blue-crayola);

    border-radius: 0.4em;
    box-shadow: 0 0 0.4em black;

    padding: 0 0;
}
#navBar a{
    text-decoration: none;

    /*color: magenta;*/
    color: var(--cultured);
}
#navBar a:hover{
    color: rgba(var(--pink-lace-rgb), 1);
}
#navBar a:active{
    /*color: #626262;*/
    color: var(--dark-blue-crayola);
}

#navBar p{
    padding: 20px;
    margin: 0;

    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}
#navBar a:first-of-type p{
    padding-top: 25px;
}
#navBar a:last-of-type p{
    padding-bottom: 25px;
}

#head{
    text-align: center;
    height: 100vh;
    /*width: 100vw;*/

    color: var(--cultured);

    margin: 0;
}
#head .tint{
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("../Images/landing_white_marks.png"),
        url("../Images/landing_white_marks_heavy.png"),
        radial-gradient(circle farthest-side at 89% 6%, rgba(var(--pink-lace-rgb), 0.2), rgba(var(--cyan-process-rgb), 0.03) 10%),
        radial-gradient(circle closest-corner at 64% 96%, rgba(var(--pink-lace-rgb), 0.3), rgba(var(--periwinkle-crayola-rgb), 0.03) 20%),
        radial-gradient(circle closest-corner at 43% 71%, rgba(var(--amethyst-rgb), 0.14), rgba(var(--cyan-process-rgb), 0.03) 30%),
        radial-gradient(ellipse farthest-side at 35% 25%, rgba(var(--amethyst-rgb), 0.2), rgba(var(--pink-lace-rgb), 0.16), rgba(var(--pink-lace-rgb), 0.05)),
        radial-gradient(circle closest-side at 45% 28%, rgba(var(--sky-blue-rgb), 0.38), rgba(0, 0, 0, 0)),
        radial-gradient(circle closest-corner at 57% 72%, rgba(255, 255, 255, 0.28), rgba(0, 0, 0, 0)),
        radial-gradient(circle farthest-side at 0% 85%, rgba(var(--blue-crayola-rgb), 0.48), rgba(var(--sky-blue-rgb), 0.4)),
        radial-gradient(circle farthest-side at 90% 65%, rgba(var(--amethyst-rgb), 0.65), rgba(var(--blue-crayola-rgb), 0.6), rgba(var(--sky-blue-rgb), 0.6), #FFFFFF00),
        radial-gradient(ellipse farthest-corner at 40% 20%, rgba(var(--blue-crayola-rgb), 1), rgba(var(--cyan-process-rgb), 1), rgba(var(--sky-blue-rgb), 1), rgba(var(--pink-lace-rgb), 1));

    margin: 0;
}
#head .info_text.main{
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    font-size: 1.6em;
}
#head .info_text.main span.title{
    font-size: 2.6em;
    padding: 0 0 0.85em;
    background-position: 0 1.27em;
}
#head .info_text p:first-of-type{
  margin-top: 1.8em;
}

.info_text{
    margin: 3em 1em;
    text-align: center;

    font-size: 1.1em;
}
.info_text.main{
    padding-top: 1.8em;
    padding-bottom: 1.0em;
    margin-top: 0;
    margin-bottom: 0;
}
.info_text span.title{
    font-size: 1.8em;
    font-weight: bold;

    /*padding: 0 6px 1.6% 6px;*/
    padding-bottom: 0.65em;
    background-image: url("../Images/custom-underline-narrow-cultured-760x60.png");
    background-repeat: no-repeat;
    background-position: 0 1.07em;
    background-size: 100% auto;
}
.info_text span.title.small{
    font-size: 1.1em;
}
.info_text.main span.title{
    font-size: 2em;
    background-position: 0 1.1em;
}
.info_text p{
    margin-top: 0.5em;
    margin-bottom: 2em;
    white-space: initial;
}
.info_text p:first-of-type{
    margin-top: 1.8em;
}
.info_text.main p:first-of-type{
    margin-top: 2.6em;
}
.info_text a{
    color: #66FCF1;
}
.info_text a:visited{
    color: #4ec0bb;
}
.info_text a:active{
    color: white;
}

/*different sections of text*/
.one, .two{
    color: black;
    padding: 0 22%;
}
.one:focus, .two:focus{
    box-shadow: none;
    border: none;
}
.one span.title, .two span.title{
    color: var(--amethyst);
    /*color: var(--rose);*/
    background-image: url("../Images/custom-underline-narrow-amethyst-760x60.png");
}
.one{
    /*background-color: white;*/
    /*background-color: rgba(var(--pink-lace), 0.2);*/
    background-color: rgba(var(--pink-lace-rgb), 0.25);
}
.one span.title{
}
.two{
    /*background-color: rgba(var(--cyan-process), 0.3);*/
    background-color: rgba(var(--periwinkle-crayola-rgb), 0.8);
}
.two span.title{
}

body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;

    margin: 0;
}
body, html{
    padding: 0 0;
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden;*/
}